@font-face {
   /* font-family: JennaSue;
    src: url('/jenna-sue/jennasue.ttf');*/
}
  @font-face {
	  font-family: 'JennaSue';
	  src: url('../jenna-sue/jennasue.eot');
	  src: url('../jenna-sue/jennasue.eot?#iefix') format('embedded-opentype'),
	  url('../jenna-sue/jennasue.woff') format('woff'),
	  url('../jenna-sue/jennasue.ttf') format('truetype'),
	  url('../jenna-sue/jennasue.svg#JennaSueRegular') format('svg');
	  font-weight: normal;
	  font-style: normal;
  }

.tryouts {
    font-family: JennaSue;
}
h3 {
    font-size: 14px;
}
h2 {
    font-family: JennaSue;
    text-transform: capitalize;
}
a {
    text-decoration: none;
    color: #2AB8FA;
}
hr {
    margin-bottom: 1rem;
    height: 1px;
    color: #d3d3d3;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.row {
    display: inline;
    clear: both;
}
.quarter {
    width: 24.5%;
    float: left;
    clear: right;
    padding: 2px;
}
.half {
    width: 49%;
    float: left;
    clear: right;
    padding: 2px;
}
.three-quarter {
    width: 74.5%;
    float: left;
    clear: right;
    padding: 2px;
}
.full {
    width: 100%;
    float: left;
    clear: right;
    padding: 2px;
}
.left {
    float: left;
}
.right {
    float: right;
}
.latest-blog {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: thin solid #d3d3d3;
    border-bottom: thin solid #d3d3d3;
}
.latest-image {
    width: 30%;
    float: left;
    clear: right;
}
.latest-image img {
    width: 260px;
    height: 195px;
}
.latest-content {
    font-size: 12px;
}
.featured-blog {
    border-bottom: thin solid #d3d3d3;
    clear: left;
    padding-bottom: 1rem;
}
.featured-title {
    color: #300;
}
.post {
    border-bottom: thin solid green;
    clear: both;
}
.title {
    font-size: 1.4rem;
    color: #555;
}
.read {
    font-family: JennaSue;
    border-bottom: thin grey solid;
    font-weight: 600;
}
.share {
    font-family: JennaSue;
    font-size: 14px;
}
.links {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
}
.half h3 {
    line-height: 2;
    background: url(http://www.quentinblake.com/templates/quentin_blake/images/cb-titleBg3.jpg);
    background-size: 100% 100%;
    padding: 2px;
    font-family: JennaSue;
    font-size: 20px;
    color: #300;
}
.links>i>a {
    display: inline-block;
}
.links img {
    width: 100%}
.form {
    font-size: 9px;
}
button {
    margin-top: 20px;
}