body{
	background-color: black;
}
       
.big{
        background-color: #3598dc;
        width: 45%;
        text-align: center;
        margin: 50px auto;
        border: solid 1px #ccc;
        

         }
.mini{
        background: #ffffff;
         width: 48%;
         padding: 8% 2 -1px 0;
         margin: 8% auto 8% auto;
          border:solid 1px #ccc;
         border-radius: 2%;
         text-align: center;        
}
h1{               
	 text-align: center;
	 color: #787878;
	 font-weight: thick;
     font-family: Arial;
     margin-bottom: 3%;


	  }
    h6{
        margin-top: 3%;
        margin-bottom: 5%;
        font-size: 80%;
    }  

                    	
h6 a{
   	text-align: center;
  	text-decoration: underline;
     text-align: center;
     font-weight: t;
     color:#838d8f;
     font-family: Arial;

    }

    form{
        border: solid 1px #ffffff;
        background-color: #ffffff;
        width: 80%;
        margin: 0 auto;
    }
     
     form input{
        margin: 2% 0;
        text-align: center;
        border-style: none;
     }
     
     #felements{
        background-color: #ecf0f1;
        padding: 6% 0;
        width: 100%;
        font-size: 100%;
        border-radius: 3%;
     }
     
     #hlog{
        background-color: rgb(53,152,220);
        padding: 6% 0;
        width: 100%;
        color: #fff; 
        font-size: 100%;
        border-radius: 3%;
     }



