/*body{
	width: 100%;
    font-size: 80%;
    background-color: #000;
 }
hr{
  color: black;
}

table{
width: 54%;
height: auto;
margin: 0 auto;
padding-bottom: 20px;
padding-left: 20px;

}

td{
width: 20%;
height: 5px;
border-bottom: thin solid;
}

th, td {
padding:0 15px 5px 15px;
text-align: left;
}

th{
padding: 10px;
margin: 10px;
}

.table{
  padding-top: 50px;
  padding-right:275px;
  border-bottom: 1px solid grey;
  margin-left: 10px;
   float: right;   
   border-bottom: thin solid grey; 
}
#dominant{
width: 72%;
height: 1171px;
background-color: #fff;
margin: 0 auto;
border-style: hidden;
padding-top: 3%;
margin-top: 2%;
}
.sub_dominant{
 background-color:#f5f5f5;
margin: 0 auto;
border-style: hidden;
padding-top: 3%;
margin-top: 2%;
width: 72%;
height:1111px;
}
.mini {
 
margin: 0 auto; 
border-style: hidden;
height:180px;
 width: 100%;	
}
.info1{
padding-bottom:1%;
padding-top:5%;
font-size: 200%;
padding-left: 79px; 
}
.info2{
   padding-left: 90px; 
   padding-bottom: 70px;
}

.profile{

 padding-right: 386px;
 float: right;
 padding-top: 50px;

}
button{
float: right;
top: -30% right;
margin-top: -76px;
background-color:#666666;
color: #fff;
}
.email{
text-decoration: underline;
color: #81313a;
float: right;
top: -20% right;
margin-top: -52px;
}
.number{
color: #666666;
float: right;
top: -15% right;
 margin-top: -32px;
 right: 100px; 
}
 .cont{
padding-right: 40%;
padding-top: 43px;
}

.box1{
height: 180px;
width: 103%;
 border-bottom: 1px solid grey;

}

.box2{
width: 87%;
height: 180px; 

 font-size: 75%;
  padding-right: 144px;
   float: right;  
   margin-right: 10px; 
   border-bottom: thin solid grey; 
 }
 .bx{
    padding-left: 7px;
    display:inline-block;
    width: 123px;
    height: 80px;
    margin-left: 8px;
    padding-top: 38px; 

 
}
 h1{
    margin: 0 auto;  
 }

 .box3{
    width: 100%;
    height: 180px;
     padding-right: 30px; 
  }

.bx2{
padding-top: 55px;
margin-right: 58%;
font-size: 80%;
}
.box4{
    height: 180px;  
    padding-left: -550px; 
 }  
.box5{
   padding-right: 144px;
   float: right;  
   height: 140px; 
   border-bottom: thin solid grey; 
}
.bx3{
   
   padding-left:550px; 
    font-size: 80%; 
    padding-top: 15px;
}
h2{
    padding-left: 70px;
    float: left;
    margin-bottom: 50px;
    padding-top: 47px;
}
.number{
}
.number1{
  font-weight: 50%;
}*/
body{
 font-size: 12px;
}
h1{
  width: 40%;
  height: 20px;
}
.container{
  width:37%; 
height: 1171px;
background-color: #fff;
margin: 0 auto;
border-style: hidden;
padding-top: 3%;
/*margin-top: 2%;*/  
}
.sub-container{
/*  width: 80%;*/
background-color: red;
margin: 0 auto;
border-style: hidden;
padding-top: 3%; 
height:1111px;
}
.row{
  border-bottom: 2px solid grey;
  padding-top: 5px;
}
.right{
    float: left;
    clear: right;

}
.left{
    float: right;
    clear: left;
    margin-right:5px;
}
.table{
  height: 180px;
  width: 76%;
}
table{
  width:80%;
}
table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}
th, td {
}
.third{
  width: 24%;
  display: inline-block;
  padding-left: 10px;

}